:root {
    --cor-primaria: red;
    --cor-primaria-escura: rgb(189, 0, 0);
    --fundo-1: #f7f7f7;
    --fundo-2: #fdfdfd;
    --fundo-3: #f4f4f4;
    --fundo-menu: rgb(229, 229, 229)
    --footer: rgb(243, 242, 242);
    --texto: black;
    --onda: url(./img/onda.svg);
}

@media (prefers-color-scheme: dark){
    :root {
        --fundo-1: #111;
        --fundo-2: #000;
        --fundo-3: #000;
        --fundo-menu: rgb(13, 13, 13);
        --footer: rgb(23, 22, 22);
        --texto: #ffffff;
        --onda: url(./img/onda\ dark.svg);
    }
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var( --fundo-1);
    color: var(--texto);
}

main {
    margin-top: 100px;
}

.conteudo {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 370px auto;
}

.conteudo img {
    max-width: 100%;
    display: block;
}


.introducao {
    grid-row: 1;
    background-color: var( --fundo-2);
    position: relative;
}

.introducao::before {
    content: "";
    width: 60px;
    height: 4px;
    background: var( --cor-primaria);
    position:absolute;
    top: 30px;
    right: -30px;
}

.header {
    display: grid;
    justify-items: center;
    margin-top: 70px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.menu {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 30px;
}

.menu a {
    display: block;
    text-decoration: none;
    color:var(--texto);
    background-color: var(--fundo-3);
    padding: 15px 30px;
    border-radius: 4px;
    border: 2px solid var(--fundo-3);
}

.menu a:hover {
    border: 2px solid var( --cor-primaria-escura);
    background-color: var(--fundo-menu);
}

.info {
    padding-top: 65px;
    padding-right: 30px;
    display: grid;
    grid-column: 1;
    justify-items: end;
}

.info h1 {
    margin: 10px;
    font-size: 35px;
}

.info p {
    margin: 10px;
    font-size: 25px;
    text-align: end;
}

.info a {
    background-color: var( --cor-primaria);
    padding: 15px 40px;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFF;
    grid-row: 3;
    margin-top: 10px;
    margin: 10px;
}

.info a:hover {
    background-color: var( --cor-primaria-escura);
}

.subtitulo-vantagem {
    font-size: 40px;
    color: rgba(128, 128, 128, 0.544);
    text-align: end;
    align-self: center;
    position: relative;
    margin-right: 10px;
    background-image: var(--onda);
}

.infos-vantagem {
    grid-column: 2;
    padding: 20px;
    background-color: var( --fundo-2);
    height: 400px;
}

.infos-vantagem p {
    margin-left: 35px ;
}


footer {
    border-top: 5px solid var(--footer);
    margin-top: 200px;
    text-align: center;
    background-color: var( --fundo-2);
    font-size: 10px;
    height: 50px;
}

.eletrica-div {
    width: auto;
    position: relative;
}

.eletrica-div h1::before {
    content: url(./img/eletrica.svg);
    margin-right: 10px;
}

.eletrica {
    background: var(--fundo-3);
    padding: 10px;
    border-radius: 4px;
}

.eletrica:hover {
    border-left: 4px solid var( --cor-primaria);
}

.velocidade-div {
    width: auto;
    position: relative;
}

.velocidade-div h1::before {
    content: url(./img/velocidade.svg);
    margin-right: 10px;
}

.velocidade {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--fundo-1);
}

.velocidade:hover {
    border-left: 4px solid var( --cor-primaria);
}

.rastreador-div {
    border-radius: 4px;
    position: relative;
}

.rastreador-div h1::before {
    content: url(./img/rastreador.svg);
    margin-right: 10px;
}

.rastreador {
    padding: 10px;
    background: var(--fundo-3);
    border-radius: 4px;
}

.rastreador:hover {
    border-left: 4px solid var( --cor-primaria);
}

@media (max-width: 1000px) {
    .conteudo {
        grid-template-columns: 1fr;
    }
    
    .subtitulo-vantagem {
        text-align: center;
        font-size: 2rem;
        margin-right: 0px;
    }

    .infos-vantagem {
        grid-column: 1;
        height: 430px;
    }
}

@media (max-width: 1000px) {
    .introducao::before {
        display: none;
    }

    .header {
        margin-top: 20px;
    }

    .menu {
        margin-top: 20px;
    }

    main {
        margin-top: 20px;
    }

    .info {
        padding: 35px 30px;
    }

    .info h1 {
        text-align: center;
        font-size: 1.55rem;
    }

    .info p {
        text-align: center;
        font-size: 1.5rem;
    }

    .info {
        justify-items: center;
    }
}
